@media print {

  .page {

    &__header {
      display: none;
    }
  }

  .creature-creator {

    &__creature {
      flex: 0 0 auto;

      &:after {
        content: '';
        display: block;
        padding-bottom: $creature--aspect-ratio;
        width: 100%;
      }
    }

    &__body-part {

      &__navigation {
        display: none;
      }
    }

    &__toolbar {
      display: none;
    }
  }
}
