html {
  color: $body--foreground-color;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

a {
  color: inherit;
  transition: color 0.125s;

  &:visited,
  &:active {
    color: inherit;
  }
}

strong {
 font-family: 'Montserrat', sans-serif;
 font-weight: 700;
}

h1,
h2 {
  font-weight: 400;
  margin: $margin--larger 0;
}

h1 {
  font-size: 2.2rem;
  line-height: 3rem;
}

h2,
p {
  font-size: 1.2rem;
  line-height: 2.2rem;
}

p {
  color: $body--foreground-color--secondary;

  a {

    &:hover {
      color: $body--foreground-color--secondary--link--hover;
    }
  }
}
